*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

/* Font Family added */
.font-family{
  font-family: "Inter", sans-serif;

}

/* Shared Design */
p{
    text-align: left;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff9d;
}
.btn{
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    padding: 13px 16px;
    border-radius: 100px;
    background-image: linear-gradient(to top right, #f7e93f, #fb09b4, #9100f8);
    transition: 2s;
    border: 1px solid transparent;
    cursor: pointer;
}
.btn:hover{
    border: 1px solid #00FF88;
    font-size: 16px;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 100px;
    color: #00FF88;
    background-image: none;
    transform: translateX(-20px);

}
/* Header Section */
header{
 background-color: #1A0B2E;
display: flex;
/* max-width: 1200px;
border: 1px solid red; */

}
nav {
    max-width: 1200px;
    width: 100%;
    /* border: 1px solid #00FF88; */
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 30px 0px;
    align-items: center;
    
}
.logo{
    width: 219px;
    cursor: pointer;
}
.menu-item{
    margin-right: 20px;
    text-decoration: none;
    color: white;
}

/* Hero Section */
hr{
    border: none;
    height: 1px;
    background-color: #412567
}
.hero-section{
    background-image: url(./assets/hero-bg.png);
    padding-top: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
@keyframes text-anim {
    from {
        left:0;
    }
    to {
        left: 50px;
        color: #00FF88;
        
    }
    
}
.hero-section h1 {
    margin-top: 40px;
    text-align: center;
    color: white;
    font-size: 60px;
    font-weight: 800;
    position: relative;
    animation: text-anim 1s ease-in-out 1s infinite alternate ;
}

.hamburger-menu{
    display: none;
}
/* p{
    color: white;
    text-align: center;
    font-size: 16px;
    margin: 8px;
} */

.circle-image{
    background-image: url(./assets/hero-circle.png);
    background-position: center;
    background-repeat: no-repeat;
    
    /* background-size: 350px; */
    /* display: flex; */
    /* justify-content: center; */
    /* padding-top: 100px; */
    /* align-items: center; */
    height: 350px;
    
}
.microphone {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 40px 75px 81px;
}
.first-para-1{
    text-align: center;
    margin: 8px 0 24px;
}
.hero-btn{
    text-align: center;
}
.btn-outline{
    border: 1px solid #00FF88;
    font-size: 16px;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0);
    padding: 12px 20px;
    border-radius: 100px;
    color: #00FF88;
    margin-bottom: 101px;
    margin-top: 24px;
    cursor: pointer;
    transition: 1s; 
}
.btn-outline:hover{
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    padding: 14px 17px;
    border-radius: 100px;
    background-image: linear-gradient(to top right, #f7e93f, #fb09b4, #9100f8);
    transform: translateX(20px);
}

/* About Section */
.about-section{
    background-color: #1A0B2E;
}
.about-1{
    max-width: 1200px;
    text-align: center;
    color: white;
    margin: 0 auto;
    padding-bottom: 80px;
}
.about-1 h2{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
    padding-top: 40px;

}
.first-para {
    text-align: center;
    margin-bottom: 24px;
    line-height: 30px;
    color: #ffffff;
    /* padding-left: 170px;
    padding-right: 170px; */
    
}
.about-main{
    padding-bottom: 120px;
}
.about-2{
    /* border: 1px solid red; */
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    
}
.about-2 h2{
    color: #00FF88;
    font-size: 48px;
    font-weight: 900;
}

/* Why Choose Section */
.quality-section{
    background-color: #230E3D;
    padding: 120px 0px;
}
.quality {
    max-width: 1200px;
    margin: 0 auto;
}
h3 {
    text-align: center;
    font-size: 48px;
    color: white;
    font-weight: bold;
}

.quality-card{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-top: 40px;
}
.card-headline {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}

/* Animation Added Start */

.headphone{
    /* border: 1px solid white; */
    border:none;
    grid-row: 2 span;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 107px 40px;
    transition: 2s;
}
.headphone:hover{
    transform: translateX(-20px);
}
.device{
    /* border: 1px solid red; */
    border:none;
    grid-column: 2 span;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px;
    transition: 2s;
}
.device:hover{
    transform: translateX(40px);
}
.location {
    /* border: 1px solid red; */
    border:none;
    grid-column: 2 span;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px;
    transition: 2s;
}
.location:hover{
    transform: translateX(40px);
}
.zap {
    /* border: 1px solid red; */
    border:none;
    grid-column: 2 span;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px;
    transition: 2s;
}
.zap:hover{
    transform: translateY(40px)
}
.resorce {
    /* border: 1px solid red; */
    border:none;
    grid-column: 1 span;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px;
    transition: 2s;
}
.resorce:hover{
    transform: translateX(40px);
}
/* Animation Added End */
.headphone img, .device img, .location img, .zap img, .resorce img{
    width: 60px;
    margin-bottom: 16px;
}

/* Episode Section */
.featured{
    background-color: #1A0B2E;
    padding: 120px 0;
    
}
.episode {
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 120px 0px; */

}
.video-card {
    display: flex;
    /* border: 1px solid red; */
    gap: 30px;
    margin-top: 40px;
}
.box{
    background-color: #250D44;
    width: 380px;
    border-radius: 20px;
}
iframe{
    border-radius: 20px 20px 0px 0px
}
.box h4{
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    margin: 24px;
}
.box p{
    margin: 0 24px 12px;
    
}
.timer{
    color: #00FF88;
    padding-bottom: 24px;
}
/* Host Section */
.host-intro{
    padding-top: 120px;
}
.host-card{
    background-color: rgba(53, 17, 101, 0.4);
    max-width: 1200px;
    margin: 40px auto 0px;
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 40px;
    border: none;
    border-radius: 40px ;
}
.host-image {
    width: 200px;
}
h5 {
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 16px;
}
.host-identity p {
    margin-bottom: 16px;
}
.social-media{
    display: flex;
    gap: 8px;
    align-items: center;
}
.icon-box{
    border: 1px solid #533C72;
    border-radius: 100%;
}
.icon-box img {
    /* width: 35px; */
    padding: 10px;
    align-items: center;
}
/* Footer Section */
footer {
    background-image: url(./assets/footer-bg.png);
    padding: 120px 0;
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
}
.footer-menu{
    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid salmon; */
}
.footer-logo{
    text-align: center;
    margin-bottom: 32px ;
    cursor: pointer;
}
.footer-logo img{
    width: 410px;
}

.footer-social{
    display: flex;
    justify-content: center;
    gap: 40px;

}
.footer-social p{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 32px;
}
.footer-menu p{
    text-align: center;
}
#hide{
    display: none;
}
.batch{
    margin: 0 auto;
    /* border: 1px solid red; */
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    padding-left: 210px;
}
@keyframes batch-ani {
    from {
        left:0;
    }
    to {
        left: 50px;
        background-color:#9100f8 ;
        color: #ffffff;
    }
    
}
.batch button {
    background-color: #00FF88;
    border-radius: 100px;
    border: none;
    font-size: 18px;
    padding: 8px 16px;
    transition: 2s;
    cursor: pointer;
    position: relative;
    animation: batch-ani 2s ease-in-out 1s infinite alternate ;
}
.batch button:hover {
    background-image: linear-gradient(to top right, #f7e93f, #fb09b4, #9100f8);
    transform: translateX(20px);
}


/* Mobile Responsive */
 
@media screen and (max-width:576px) {
    .about-1 {
    padding-top: 40px;
    padding-bottom: 80px;
}
    .about-1 h2{
        font-size: 32px;
        font-weight: bold;
    }
    .first-para {
    font-size: 16px;
    line-height: 20px;
    margin: 20px;
}
.about-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
    text-align: center;

}
.about-2 p{
    text-align: center;
    margin-top: 16px;
}

.quality-section {
    padding: 40px 0px;
}

h3 {
    text-align: center;
    font-size: 32px;
}

.quality-card {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 16px;
}

.headphone, .location, .device, .zap, .resorce {
    border:none;
    border-radius: 20px;
    padding: 24px;
    margin-left: 20px;
    margin-right: 20px;
}
.featured {
    padding: 40px 0;
}
.video-card {
    /* display: flex; */
    /* border: 1px solid red; */
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;
    align-items: center;
}
.host-intro {
    padding-top: 60px;
}
.host-card {
    margin: 24px 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.host-identity p {
    margin-bottom: 16px;
    text-align: center;
}
.social-media {
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
}

footer {
    padding: 40px 20px;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}
.footer-logo img {
    max-width: 219px;
}
.icon-align{
    display: flex;
    justify-content: center;
    /* border: 1px solid #00FF88; */
}

.footer-social {
    width: 255px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 10px;
    /* border: 1px solid red; */
}
.footer-social p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.copyright{
    margin-top: 24px;
}
.circle-image {
    background-image: url(./assets/hero-circle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 220px;
    height: 220px;
    
}
.microphone {
    width: 70px;
    margin: 0 auto;
    padding: 0px;

}
.hero-section {
    padding-top: 40px;
}

.hero-section h1 {
    margin-top: 24px;
    text-align: center;
    color: white;
    font-size: 60px;
    font-weight: 800;
}
.btn-outline{
    margin-bottom: 40px;
    
}


.menu{
    display: none;
}
#nav-btn{
    display: none;
}
.hamburger-menu {
    display: flex;
    align-items: center;
    color: #ffffff;
    max-width: 24px;
    width: 100%;
    cursor: pointer;
}
.hamburger-menu:hover {
    color: #00FF88;
}
nav{
    padding: 20px;
}
.batch{
    padding-left: 180px;
}

.batch button {
    background-color: #00FF88;
    border-radius: 100px;
    border: none;
    font-size: 16px;
    padding: 8px 16px;

}



/* table-layout */
}

@media screen and (min-width:576px) and (max-width:992px) {
    .video-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.host-card{
    margin-left: 15px;
    margin-right: 15px;
}
.first-para{
    margin: 10px 20px;
    padding-bottom: 20px;
    
}
.about-2 {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
    text-align: center;
}
.about-2 p{
    text-align: center;
    margin-top: 10px;
}
.quality-card {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
}
.headphone, .location, .device, .zap, .resorce {
    border:none;
    border-radius: 20px;
    padding: 24px;
    margin-left: 20px;
    margin-right: 20px;
}
nav{
    padding-left: 10px;
    padding-right: 10px;
}



    
}
