*{
    margin: 0;
    box-sizing: border-box;
}
/* Font Family added */
.font-family{
  font-family: "Inter", sans-serif;
}
header{
background-color: #1A0B2E;
display: flex;
}
nav{
    margin: 0 auto;
}
.navbar{
    display: flex;
    width: 1200px;
    /* border: 1px solid red; */
    justify-content: space-around;
    padding: 30px 0px;
    align-items: center;
}
.logo{
    width: 219px;
}
.menu-item{
    margin-right: 20px;
    text-decoration: none;
    color: white;
}

.btn{
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    padding: 13px 16px;
    border-radius: 100px;
    background-image: linear-gradient(to top right, #f7e93f, #fb09b4, #9100f8);
}
hr{
    border: none;
    height: 1px;
    background-color: #412567
}
.hero-section{
    background-image: url(./assets/hero-bg.png);
    padding-top: 100px;

}
.hero-section h1 {
    margin-top: 40px;
    text-align: center;
    color: white;
    font-size: 60px;
    font-weight: 800;
}
.hero-section p{
    color: white;
    text-align: center;
    font-size: 16px;
    margin: 8px;
}

.circle-image{
    background-image: url(./assets/hero-circle.png);
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: 350px; */
    /* display: flex; */
    /* justify-content: center; */
    /* padding-top: 100px; */
    /* align-items: center; */
    height: 350px;
}
.microphone {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 70px 75px 81px;
}

.hero-btn{
    text-align: center;
}
.btn-outline{
    border: 1px solid #00FF88;
    font-size: 16px;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0);
    padding: 12px 20px;
    border-radius: 100px;
    color: #00FF88;
    margin-bottom: 101px;
    margin-top: 24px;
}


