*{
    margin: 0;
    box-sizing: border-box;
}
header{
background-color: #1A0B2E;
display: flex;
}
nav{
    margin: 0 auto;
}
.navbar{
    display: flex;
    width: 1200px;
    border: 1px solid red;
    justify-content: space-around;
    padding: 30px 0px;
    align-items: center;
}
.logo{
    width: 219px;
}
.menu-item{
    margin-right: 20px;
    text-decoration: none;
    color: white;
}

.btn{
    padding: 13px 16px;
    border-radius: 100px;
    background-image: linear-gradient(to top right, #f7e93f, #fb09b4, #9100f8);
}

