*{
    margin: 0;
    box-sizing: border-box;
}
/* Font Family added */
.font-family{
  font-family: "Inter", sans-serif;
}

/* Shared Design */
p{
    text-align: left;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff9d;
}
.btn{
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    padding: 13px 16px;
    border-radius: 100px;
    background-image: linear-gradient(to top right, #f7e93f, #fb09b4, #9100f8);
    transition: 2s;
}
.btn:hover{
    border: 1px solid #00FF88;
    font-size: 16px;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 100px;
    color: #00FF88;
    background-image: none;
    transform: translateX(-20px);

}

header{
background-color: #1A0B2E;
display: flex;
}
nav{
    margin: 0 auto;
    /* border: 1px solid red; */
}
.navbar{
    display: flex;
    width: 1200px;
    /* border: 1px solid red; */
    justify-content: space-around;
    padding: 30px 0px;
    align-items: center;
}
.logo{
    width: 219px;
}
.menu-item{
    margin-right: 20px;
    text-decoration: none;
    color: white;
}
hr{
    border: none;
    height: 1px;
    background-color: #412567
}
.hero-section{
    background-image: url(./assets/hero-bg.png);
    padding-top: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.hero-section h1 {
    margin-top: 40px;
    text-align: center;
    color: white;
    font-size: 60px;
    font-weight: 800;
}
/* p{
    color: white;
    text-align: center;
    font-size: 16px;
    margin: 8px;
} */

.circle-image{
    background-image: url(./assets/hero-circle.png);
    background-position: center;
    background-repeat: no-repeat;
    
    /* background-size: 350px; */
    /* display: flex; */
    /* justify-content: center; */
    /* padding-top: 100px; */
    /* align-items: center; */
    height: 350px;
    
}
.microphone {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 70px 75px 81px;
}

.hero-btn{
    text-align: center;
}
.btn-outline{
    border: 1px solid #00FF88;
    font-size: 16px;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0);
    padding: 12px 20px;
    border-radius: 100px;
    color: #00FF88;
    margin-bottom: 101px;
    margin-top: 24px;
    transition: 1s;
}
.btn-outline:hover{
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    padding: 14px 17px;
    border-radius: 100px;
    background-image: linear-gradient(to top right, #f7e93f, #fb09b4, #9100f8);
    transform: translateX(20px);
}

.about-section{
    background-color: #1A0B2E;
}
.about-1{
    width: 1200px;
    text-align: center;
    color: white;
    margin: 0 auto;
    padding-bottom: 80px;
}
.about-1 h2{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;

}
.first-para {
    text-align: center;
    margin-bottom: 40px;
    line-height: 20px;
    color: #ffffff;
    
}
.last-para{
text-align: center;
    margin-bottom: 40px;
    line-height: 20px;
    margin-bottom: 80px;
    color: #ffffff;
}
.about-main{
    padding-bottom: 120px;
}
.about-2{
    /* border: 1px solid red; */
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    
}
.about-2 h2{
    color: #00FF88;
    font-size: 48px;
    font-weight: 900;
}

.quality-section{
    background-color: #230E3D;
    padding: 120px 0px;
}
.quality {
    width: 1200px;
    margin: 0 auto;
}
h3 {
    text-align: center;
    font-size: 48px;
    color: white;
    font-weight: bold;
}

.quality-card{
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-top: 40px;
}
.card-headline {
    color: white;
    font-size: 24;
    font-weight: bold;
    margin-bottom: 16px;
}

/* Animation Added Start */
.headphone{
    /* border: 1px solid white; */
    border:none;
    grid-row: 2 span;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 107px 40px;
    transition: 2s;
}
.headphone:hover{
    transform: translateX(-20px);
}
.device{
    /* border: 1px solid red; */
    border:none;
    grid-column: 2 span;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px;
    transition: 2s;
}
.device:hover{
    transform: translateX(40px);
}
.location {
    /* border: 1px solid red; */
    border:none;
    grid-column: 2 span;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px;
    transition: 2s;
}
.location:hover{
    transform: translateX(40px);
}
.zap {
    /* border: 1px solid red; */
    border:none;
    grid-column: 2 span;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px;
    transition: 2s;
}
.zap:hover{
    transform: translateY(40px)
}
.resorce {
    /* border: 1px solid red; */
    border:none;
    grid-column: 1 span;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px;
    transition: 2s;
}
.resorce:hover{
    transform: translateX(40px);
}
/* Animation Added End */
.headphone img, .device img, .location img, .zap img, .resorce img{
    width: 60px;
    margin-bottom: 16px;
}

.featured{
    background-color: #1A0B2E;
    padding: 120px 0;
    
}
.episode {
    width: 1200px;
    margin: 0 auto;
    /* padding: 120px 0px; */

}
.video-card {
    display: flex;
    /* border: 1px solid red; */
    gap: 30px;
    margin-top: 40px;
}
.box{
    background-color: #250D44;
    width: 380px;
    border-radius: 20px;
}
iframe{
    border-radius: 20px 20px 0px 0px
}
.box h4{
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    margin: 24px;
}
.box p{
    margin: 0 24px 12px;
    
}
.timer{
    color: #00FF88;
    padding-bottom: 24px;
}
.host-intro{
    padding-top: 120px;
}
.host-card{
    background-color: rgba(53, 17, 101, 0.4);
    width: 1200px;
    margin: 40px auto 0px;
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 40px;
    border: none;
    border-radius: 40px ;
}
.host-image {
    width: 200px;
}
h5 {
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 16px;
}
.host-identity p {
    margin-bottom: 16px;
}
.social-media{
    display: flex;
    gap: 8px;
    align-items: center;
}
.icon-box{
    border: 1px solid #533C72;
    border-radius: 100%;
}
.icon-box img {
    /* width: 35px; */
    padding: 10px;
    align-items: center;
}

footer {
    background-image: url(./assets/footer-bg.png);
    padding: 120px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-menu{
    width: 1200px;
    margin: 0 auto;
    /* border: 1px solid salmon; */
}
.footer-logo{
    text-align: center;
    margin-bottom: 32px ;
}
.footer-logo img{
    width: 410px;
}

.footer-social{
    display: flex;
    justify-content: center;
    gap: 40px;

}
.footer-social p{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 32px;
}
.footer-menu p{
    text-align: center;
}

